html
  head
      block head
        script(src="/javascripts/events.js" type='module')
        title="Extention Ascension"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/users.css')
        link(rel='stylesheet' href='/stylesheets/comment.css')
  body(class="progressBOD")
    nav(id="nav-bar")
      div(class="nav-bar" id="home-img")
        a(href="/")
          img(src="https://i.imgur.com/hfPjUNn.png" style='width:100px; height:100px;' alt="ExtensionAscensionICONIMAGE")
      div(class="nav-bar" id="search")
        form(action="", name="findUE", method="get")
          input(type="text" id="findUE" name='findUE' placeholder='Search for User or Extension')
          button(type="submit") Search
      div(class="nav-bar" id="submit-product")
        a(href="/products/submit" id="submit-extension") SUBMIT EXTENSION
      div(class="nav-bar" class="dropdown")
        a(href=`/users/profile/${userId}` id='d')
          img(style="width:70px" src=imgUrl, alt="User Photo" class='dropbtn' )
        div(class="dropdown-content")
            a(href="/users/demo") Demo
            a(href="/progress") Progress
            a(href="/users/register") Register
            a(href="/users/log-in") Log-in
            a(href="/users/log-out") Log-out
    div(id="progress")
      p Here's a little on how we evolved throughout the week. Project by Andru Watkins, Meagan Smith, Casey Tuer, Henry Walton.
      img(src="https://i.imgur.com/9rGP5K2.gif", alt="progress")
