extends layout.pug
block content
    div(id="log-in-div")
        div(id="log-in-errors")
            if errors
                div(class="errors-div-test")
                    p The following error(s) occured:
                    ul
                        each error in errors
                            li(class="errors-li")= error
        div(id="log-in-form" class="log-in-form")
            form(action='/users/log-in' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                div
                div
                    label(for='email' class="register-text") Email
                    input(type='text' id='email' name='email' class="register-input" required)
                div
                    label(for='password' class="register-text") Password
                    input(type='text' id='password' name='password' class="register-input" required)
                div
                    button(type='submit' id="log-in-btn") Log-in
