extends layout.pug
block content
        div(class="register-form-div")
            div
                if errors
                    div
                        p The following error(s) occured:
                        ul
                            each error in errors
                                li= error
            div(id="register-form")
                form(action='/users/register' method='post')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    div
                        label(for='name' class="register-text") Name
                        input(type='text' id='name' class="register-input" name='name' required)
                    div
                        label(for='userName' class="register-text") Username
                        input(type='text' id='userName' class="register-input" name='userName' required)
                    div
                        label(for='email' class="register-text") Email
                        input(type='text' id='email' name='email' class="register-input" required)
                    div
                        label(for='password' class="register-text") Password
                        input(type='text' id='password' name='password' class="register-input" required)
                    div
                        label(for='confirmPassword' class="register-text") Confirm Password
                        input(type='text' id='confirmPassword' class="register-input" name='confirmPassword' required)
                    div
                        label(for='profileImg' class="register-text") Profile Image URL
                        input(type='text' id='profileImg' class="register-input" name='profileImg')
                    div
                        label(for='bio' class="register-text") User Bio
                        textarea(id='bio' class="register-input" name='bio')
                    div
                        button(type='submit' id="register-btn") Register

                        //- select(id='category' name='category' required)
                        //-     option(value='cat1') Cat1
