body{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/005/262/679/medium/tami-wicinas-tami-1.jpg?1489715625");
    /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#mega-container{
    overflow: ;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.nav-bar {
    padding: 5px;
}

#profile-div ul {
    color: white;
}

#profile-div ul:hover {
    color: black;
}

#submit-extension{
    border: black solid 2px;
    font-size: 20px;
    text-decoration: none;
    padding: 4px;
    border-radius: 5px;
    background-color: thistle;
    box-shadow: inset 0 0 10px 0 rgb(0, 0, 0);
    transition-property: box-shadow;
    transition-duration: 1s;
}

#submit-extension:hover{
    box-shadow: inset 0 0 7px 0 rgb(98, 61, 200, 0);
}

/* *******Submit Extension and Register Forms******* */

.submit-form-div, .register-form-div, .log-in-form {
    padding: 100px;
}

#submit-form, #register-form, #log-in-form {
    display: flex;
    color: snow;
    font-size: 20px;
    /* change text shadow if it's bad */
    text-shadow: rgb(255, 204, 0) 1px 0 10px;
    box-shadow: inset 0 0 10px rgb(219, 197, 72);
    justify-content: space-around;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(98, 61, 200, 0.65);;
    border: 2px solid rgb(16, 16, 77);
    border-radius: 5px;
    width: 35%;
    line-height: 30px;
    padding: 40px;
}

#product-submit-btn, #register-btn, #log-in-btn, #comment-btn {
    background-color: rgb(182, 161, 41);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 20px;
}

#product-submit-btn:hover, #register-btn:hover, #log-in-btn:hover, #comment-btn:hover {
    box-shadow: inset 0 0 10px #39434B
    /* background-image: linear-gradient(to right, rbg(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); */
}

#log-in-form{
    margin-top: 300px;
    margin-left: 100px;
    width: 25%;
}

.register-text{
    font-size: 25px;
}

.register-input{
    background-color: rgb(214, 216, 191);
}

#submit-form input, #submit-form input select, #register-form input, #register-form input select, #log-in-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px, 20px;
    margin: 5px 0;
    border-radius: 5px;
}

select {
    border-radius: 5px;
    padding: 5px;
}

#submit-form textarea, #register-form textarea {
    overflow: auto;
    width: 100%;
    resize: none;
    border-radius: 5px;
    height: 75px;
}

/* NAV BAR DROPDOWN */

.dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1cadc7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid black;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }


  .dropdown-content a:hover {background-color: rgb(182, 161, 41);}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41} */


/* Product page sytling */

#header-container{
    display: flex;
    justify-content: center;
}

.trash{
    font-size: 75px;
    color: gold;
}

.super-container{
    display: flex;
    justify-content: center;
}

.product-container-div{
    min-width: 75%;
    max-width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-column-end: 8;
    grid-row-end: 1;
    grid-row-start:8;
    border: rgb(48, 77, 93) solid 3px;
    padding: 25px;
    margin: 25px;
    border-radius: 7px;
    box-shadow: inset 0 0 10px #39434b;
    background-image: url("https://www.pixeden.com/media/k2/galleries/165/001-subtle-light-pattern-background-texture-vol5.jpg");
}

.product-img-div{
    padding-top: 30px;
    padding-left: 30px;
    grid-row: 1 /span 4;
    grid-column: 1 /span 2;
}

.extension-name-div{
    font-size: 100px;
    grid-row: 1 / span 2;
    grid-column:3 / span end;
    justify-self: start;
}

.creator-username-div{
    grid-row: 2 / span 1;
    grid-column: 3 / span 2;
    justify-self: start;
    font-size: 40px;
    font-weight: bold;
}

.extension-description-div{
    grid-row: 3 / span 1;
    grid-column:3 /span 2;
    justify-self: start;
    font-size: 30px;
}

.comments-img-div{
    grid-row: 3 / span 1;
    grid-column: 6 /span 1;
    padding: 10px;
}
