.product-div {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
    border: black solid 1px;
    padding: 25px;
    margin: 25px;
}

.extension-name {
    grid-column: 2 / span 1; 
    grid-row: 1 / span 1 ;
    font-size: 40px;
    justify-self: center;
}

.creator-name {
    grid-column: 2 / span 1;
    font-size: 25px;
    justify-self: center;
}

.product-img {
    position: absolute;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}

.extension-description {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    justify-self: center;
}

.delete {
    background-color: red;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    justify-self: center;
}

.edit-text-area {
}

.edit-button {
    background-color: blue;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    
}

.text-area {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    justify-self: end;
}
.div-edit {
    grid-row: 6 / span 1;
    grid-column: 2 / span 1;
    justify-self: end;
}

.delete-div {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
}

#profile-block {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    border: black solid 1px;
    padding: 25px;
    margin: 25px;
}

#profile-pic {
    grid-row: 1 / span 2;
}

#user-name {
    grid-row: 1 / span 1;
    grid-column: 2 / span 3;
    justify-self: center;
    align-self: center;
}

#at-user-name {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
}

#bio {
    grid-row: 2 / span 1;
    grid-column: 2 / span 3;
    padding-left: 20px;
    align-self: center;
}
/*
[] move delete button
*/